<?xml version="1.0"?>
<launch>

  <arg name="user" default="hdeeken"/>
  <arg name="password" default="mYdB"/>
  <arg name="host" default="localhost"/>
  <arg name="database" default="semap_devel3"/>

  <include file="$(find semap_ros)/launch/semap_database_services.launch">
    <arg name="user" value="$(arg user)"/>
    <arg name="password" value="$(arg password)"/>
    <arg name="host" value="$(arg host)"/>
    <arg name="database" value="$(arg database)"/>
  </include>

  <include file="$(find semap_env)/launch/semap_environment_services.launch">
    <arg name="user" value="$(arg user)"/>
    <arg name="password" value="$(arg password)"/>
    <arg name="host" value="$(arg host)"/>
    <arg name="database" value="$(arg database)"/>
  </include>

  <node pkg="rviz_semap_plugin" type="polygon_client" name="polygon_client"/> 

</launch>
